.loaderWrapper {
  /* padding-top: .75rem; */
  text-align: center;
}

@keyframes loader-anim {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -0.125em;
  border: 0.25em solid var(--c-input-bg, #fff);
  border-right-color: transparent;
  border-radius: 50%;
  animation: 0.75s linear infinite loader-anim;
}

.visuallyHidden,
.visuallyHidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
