.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.container {
  flex: 1;
  margin-right: 30px;
}

.name_column {
  padding-left: 3rem !important;
}

.text_center {
  text-align: center !important;
}

td {
  border: 1px solid rgba(224, 224, 224, 1) !important;
}

th {
  border: 2px solid rgba(224, 224, 224, 1) !important;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr ;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  width: 100%;
}
.grid1 {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr ;
  grid-gap: 1rem;
  width: 100%;
  overflow-x: scroll;
  max-height: 12rem;
  overflow-y: hidden;
  align-self: center;
}
.gridItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  max-width: 100rem;
  max-height: 23rem;
}
.gridItem1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  max-width: 60rem;
  max-height: 11rem;
}
.gridItem2 img {
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  max-width: 60rem;
  max-height: 11rem;
}
.gridItem {
  grid-column: span 1;
  grid-row: span 1;
}
.detailButton {
 top: -50%;
 left: 40%;
}
.globalButton {
  position: absolute;
  top: 75%;
  left: 50%;
 }
.gridItem:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.table {
  background-color: #fff;
}